## Perms for the app

userdebug_or_eng(`
  # For Platform apps
  allow platform_app superuser_device:sock_file { read write create setattr unlink getattr };
  allow platform_app sudaemon:unix_stream_socket { connectto read write setopt ioctl };
  allow platform_app superuser_device:dir { create rw_dir_perms setattr unlink };
')
