type sysinit, domain;
type sysinit_exec, exec_type, file_type;

init_daemon_domain(sysinit)

#============= sysinit ==============
allow sysinit devpts:chr_file { rw_file_perms };
allow sysinit shell_exec:file { rx_file_perms };
allow sysinit system_file:file { rx_file_perms };
allow sysinit self:process setcurrent;

allow sysinit app_data_file:dir { read search setattr };
allow sysinit app_data_file:file { read getattr open };
allow sysinit default_prop:property_service set;
allow sysinit self:capability dac_override;
allow sysinit system_data_file:dir setattr;
